@import "tailwindcss";

@theme {
  --default-font-family: "Inter Variable", sans-serif;
  --breakpoint-xs: 345px;


  --color-muted: #6E7884;
  --color-primary: #A855F7;
}

* {
  scroll-behavior: auto !important;
}

html, body {
  overflow-x: hidden;
}

/*html {
  scrollbar-gutter: stable;
}*/

.lightBoxCloseBtn {
  @apply 
    flex 
    h-9 
    w-9 
    cursor-pointer 
    items-center 
    justify-center 
    rounded-full 
    bg-black/50 
    text-white 
    shadow-sm 
    transition 
    hover:bg-black/70;
}

.toolBarBtn 
{
  @apply 
    flex 
    h-9 
    w-9 
    cursor-pointer 
    items-center 
    justify-center 
    rounded-full 
    bg-black/50 
    text-white 
    shadow-sm 
    transition 
    hover:bg-black/70;
}

.vstack {
  @apply 
    flex flex-col;
}

.hstack {
  @apply 
    flex flex-row;
}

.text-gradient {
  background: linear-gradient(
    135deg,
    #A855F7 30%,
    #EC4899 65%,
    #FB923C 100%
  );

  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
  background-clip: text;
}

.bg-gradient {
  @apply
    bg-[linear-gradient(83.35deg,_#D129DD_5.29%,_#FF8F27_94.71%)];
}

/*.border-color-gradient {
  border-image: linear-gradient(
    83.35deg,
    #D129DD 5.29%,
    #FF8F27 94.71%
  ) 1;
}*/

.sparkPrimaryBtn {
  @apply bg-[linear-gradient(83.35deg,_#D129DD_5.29%,_#FF8F27_94.71%)];
  @apply shadow-[inset_0_0_20px_rgba(255,255,255,0.8)];

  font-weight: 600;
  font-size: 16px;

  @apply
    text-white min-h-[50px] items-center justify-center flex w-full
    gap-2 cursor-pointer select-none transition-all duration-300 ease-in-out
    rounded-full;  
}

